.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 16px;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 16px 32px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--mantine-color-gray-8);

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 20px;

      img {
        width: 100px;
        height: 100px;
      }
    }

    button {
      margin: 16px 0;
    }
  }
}
